<h1>Distance Calculator</h1>

<%= form_with url: "/distance_profile", local: true, data: { turbo: false } do |f| %>

<h3> Starting Position <h3>
<%= text_field_tag :startingLocation %> 
<h3> Finish Position <h3>
<%= text_field_tag :finishLocation %>
<%= submit_tag "Find Coordinates" %>




<% end %>
 