<div id="<%= dom_id travel_log %>">
  <p>
    <strong>Trip name:</strong>
    <%= travel_log.trip_name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= travel_log.date %>
  </p>

  <p>
    <strong>Travel log:</strong>
    <%= travel_log.travel_log %>
  </p>

</div>
