<h1>Editing travel log</h1>

<%= render "form", travel_log: @travel_log %>

<br>

<div>
  <%= link_to "Show this travel log", @travel_log %> |
  <%= link_to "Back to travel logs", travel_logs_path %>
</div>
